body {
  background-color: #F7B617;
  margin: 0px;
  max-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.bg-yellow {
  background-color: #F7B617;
}

.bg-taxi {
  height: 700px;
  width: 100%;
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 50% 92%;
}	

.taxi-box {
  position: absolute;
  top: 265px;
  right: 14px;
  font-size: 16px;
}

/*@media screen (max-width: 480px) {
  .bg-taxi {
    width: 50%;
  }
}*/
