body {
  background-color: #F7B617;
  margin: 0px;
  max-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.bg-yellow {
  background-color: #F7B617;
}

.bg-taxi {
  height: 700px;
  width: 100%;
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 50% 92%;
}	

.taxi-box {
  position: absolute;
  top: 265px;
  right: 14px;
  font-size: 16px;
}

.phone-box {
  border: 1px solid white;
  margin-left: hidden !important;
}

.bg-driver {
  height: 500px;
  width: 100%;
  background-image: url(../assets/images/conduce.jpg);
  background-size: cover;
  background-position: 50% 48%;
}

.driver-box {
  position: relative;
  font-size: 16px;
  height: 500px;
  background: rgba(00, 00, 00, 0.6);
}

#start-point, #user-destination {
  background-color: transparent;
  border: 1px solid white;
}

.map-box {
  border: 1px solid white;
}

/*@media screen (max-width: 480px) {
  .bg-taxi {
    width: 50%;
  }
}*/
